.welcomeFlex {
  display: flex;
  flex-direction: row;
}

.courses {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.calendarCursuri {
  display: flex;
  justify-content: center;
  align-items: center;
}

.program1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.program2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 15px;
  width: 350px;
}
