.orangeText {
  color: #fba64c;
  padding-bottom: 10px;
}

.orangeBackground {
  background-color: #fba64c;
  margin-left: 0.25rem;
  padding: 0.25rem;
  font-size: 0.875rem;
}

.title {
  margin: 0px;
  font-size: 3.5rem;
  color: white;
}

.subtitle {
  font-size: 1rem;
  color: white;
}

.photo {
  height: 24px;
  width: auto;
  margin-left: 1rem;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2bb686;
  border-radius: 5px;
  font-size: 0.875rem;
  width: 260px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #2bb686;
}

a:hover {
  background-color: #141e4c;
}

.online {
  background-color: #fbb44c;
  padding: 0px;
}

.bar {
  height: 0.25rem;
  background-color: #2bb686;
  border-radius: 10px;
}

.date {
  padding: 0.25rem;
}

@media screen and (max-width: 768px) {
  .afla a {
    display: none;
  }
}
